.fragment {
    font-size: 12px;
    font-family: tahoma;
    border: 1px solid #ccc;
    color: #555;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
}

.fragment:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);

}

.fragment img {
    float: left;
    margin-right: 10px;
}
.fragment h3, .fragment h4 {
    padding: 0;
    margin: 0;
}

.fragment h3 {
    color: #369;
}
.fragment h4 {
    color: #000;
}

.read-more {
    display: block;
    clear: both;
    margin: 20px 0 0 28px;
    text-align: right;
}

